<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Spira_VSIDE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup>
	</startup>
	<applicationSettings>
		<Spira_VSIDE.Properties.Settings>
			<setting name="Project1_Spira_ImportExport_ImportExport" serializeAs="String">
				<value>http://localhost/Spira/Services/v2_2/ImportExport.asmx</value>
			</setting>
		</Spira_VSIDE.Properties.Settings>
	</applicationSettings>
</configuration>
